@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=VT323&display=swap');

[data-bs-theme="nafo"] {
  --bs-body-color: rgb(99, 219, 255);
  --bs-secondary-color: #69d;
  --bs-body-bg: rgb(2,22,87);
  --bs-border-color: #69d;
  --border-color-translucent: rgba(255,0,0,1);
}

body {
  font-family: 'VT323', monospace;
  font-size: 1.6em;
}

.small {
  font-size: 0.8em;
  opacity: 0.6;
}

#filter_bar {
  background-color: #112;
}

.border-x {
  border-left: 1px solid;
  border-right: 1px solid;
}

.card {
  border:1px solid;
  background-color: rgba(100,100,255,0.2);
}

.main {
  background-color: rgba(0, 0, 255, 0.5);
}

.brand {
  font-family: 'Libre Barcode 128 Text', cursive;
}

.loc {
  background-color: #ff0;
}
.sus {
  background-color: #f80;
}
